//color
:root {
--base-dominant-color: #9d47f2;   // Lightened version of #8A2BE2
--accent-color: #5985f4;          // Lightened version of #4169E1
--neutral-color: #f5f5f5;         // Lightened, neutral light grey for backgrounds
--primary-analogous-color: #48485C; // Very light version of #E6E6FA
--primary-analogous2-color: #2e57c4; // Lightened version of #0033A0
--neutral-complement-color: #d3d3d3; // Lightened version of #B0B0B0
}

[data-theme="Dark"] {
--base-dominant-color: #8A2BE2;
--accent-color: #4169E1;
--neutral-color: #1c1c1c;
--primary-analogous-color: #E6E6FA;
--primary-analogous2-color: #0033A0;
--neutral-complement-color: #B0B0B0;
}


@mixin gradientbackground(){
  background: linear-gradient(
    to bottom,
    var(--base-dominant-color) 0%,
    var(--accent-color) 100%
  );
}

//number

//string
 
