$base-dominant-color: #8A2BE2;
$accent-color: #4169E1;
$neutral-color: #333333;
$primary-analogous-color: #E6E6FA;
$primary-analogous2-color: #0033A0;
$neutral-complement-color: #B0B0B0;
$gradiant-color: linear-gradient(to bottom, $base-dominant-color 0%, $accent-color 50%, $neutral-color 100%);