@import '../../styles/variables';


.text1, .text2, .text3 {
	border: none;
	justify-content: center;
	height: auto;
	width: auto;
	margin: 0;
	padding: 0;
	border-radius: 8px;
}

.text1 {
	color: var(--primary-analogous-color);
	font-weight: 300;
	font-size: 15px;
}

.text2 {
	color: var(--base-dominant-color);
	font-weight: 500;
	font-size: 17px;
}

.text3 {
	color: var(--accent-color);
	font-weight: 700;
	font-size: 21px;
}

.div1 {
	position: absolute;
	flex-flow: column; 
	bottom: 5%;
}
