@import './variables.scss';

:root {
  	font-family: sans-serif, Inter, system-ui, Avenir, Helvetica, Arial;
  	line-height: 1.5;
	font-weight: 400;
 	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
 	height: 100%;
 	width: 100%;
	position: fixed;
 	color-scheme: light dark;
 	color: rgba(255, 255, 255, 0.87);
 	background-color: var(--neutral-color);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[data-theme="Light"] {
	button {
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.06);
	}
}

html {
	background-color: var(--neutral-color);
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--neutral-color);
	* {
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;
		box-sizing: border-box;
	}
	.row {
		width: 100%;
		display: flex;
		flex-flow: row;
		align-items: center;
		justify-content: left;
		box-sizing: border-box;
	}
	.main {
		height: 100%;
		width: 100%;
		margin: 0;
		padding: 0;
		justify-content: left;
		background: rgba(0, 0, 0, 0);
	}
}

button:hover, a:hover {
	transition: opacity 0.3s ease, transform 0.3s ease;
	
	&:hover {
   	opacity: 0.7;
	}
	&:hover {
    	transform: scale(0.93);
	}
}

.welcomeimg1, .welcomeimg2, .welcomeimg3 {
	position: absolute;
	margin: 0;
	z-index: -1;
	opacity: 1;
}

.welcomeimg1 {
	top: 15%;
	width: 100%;
}
.welcomeimg2 {
	top: 30%;
	width: 40%;
}
.welcomeimg3 {
	top: 45%;
	font-size: 26px;
	font-weight: 500;
	color: var(--accent-color);
	text-shadow: 0 0 3px var(--neutral-color);
}
.bottom-button {
	position: fixed;
	height: 100%;
	width: 100%;
	bottom: 0;
	left: 0;
}

.uinput {
	width: 73%;
	height: 48px;
	border: none;
	border-bottom: 1px solid var(--neutral-complement-color);
	color: var(--neutral-complement-color);
	background: var(--neutral-color);
}

.veri {
	margin: auto;
	padding: auto;
	height: 61px;
	width: 59px;
	border: 2px solid var(--accent-color);
	border-radius: 11px;
	color: var(--neutral-complement-color);
	background: var(--neutral-color);
	text-align: center;
}

BotNav {
	position: fixed;
	bottom: 2%;
	z-index: 11;
}

.pfptext {
	color: var(--neutral-complement-color);
	background: var(--base-dominant-color);
	border-radius: 11px;
	text-decoration: underline;
	height: 17px;
	padding: 0;
	font-size: 11px;
	font-width: 700;
	width: 73px;
	top: 15%;
	position: absolute;
	z-index: 4;
}

.loader {
  border: 15px solid var(--neutral-color);
  border-top: 21px solid var(--accent-color);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#pfpclose {
	display: none;
}
