@import '../styles/variables.scss';
.container {
	height: 48%;
	width: 95%;
	background: var(--neutral-color);
	border-radius: 73px;
	justify-content: left;
}

.main {
	height: 100%;
	width: 100%;
	justify-content: left;
	margin: 0;
	padding: 0;
	top: 0;
	@include gradientbackground
}